* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 35px;
}

.searchBar {
  border: 1px grey solid;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 6px 16px;
}

.searchIcon {
  height: 25px;
}
